.view-bank-detail-container {
  display: flex;
}

.path div {
  font-family: PoppinsLight;
  font-size: 16px;
  color: blue;
  cursor: pointer;
}

button {
  outline: none;
  border: 0;
  color: white;
}

.list-test {
  width: 1027px;
  height: 564px;
  padding: 15px 30px;
  margin-left: 240px;
  background-color: white;

  background: #FFFFFF;
  box-shadow: 0px 0px 70px -30px #C4C4C4;
  border-radius: 32px;
  margin: 0 auto;
}

.pagination {
  position: absolute;
  bottom: 2%;
}

.list-test-title {
  font-family: PoppinsLight;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  display: flex;

}

.button__generate-test {
  width: 24px;
  height: 24px;

  border-radius: 50%;
  margin-left: 30px;

  text-align: center;

  background: #5F45EA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  box-shadow: 0px 0px 70px 5px #c4c4c4
}

.test-card {
  /* position: relative; */
  margin: 0 auto;

  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 927px;
  height: 71px;

  background: #FFFFFF;
  box-shadow: 0px 10px 70px -30px #C4C4C4;
  border-radius: 32px;
}

.test-card-title {
  margin-left: 20px;
  cursor: pointer;
  flex-basis: 200px;

  display: flex;
  align-items: center;
  font-family: PoppinsBlack;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

.list-test-title {
  margin-bottom: 20px;
}

.test-card-detail {
  flex-basis: 180px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: PoppinsBlack;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  flex-basis: 200px;
  line-height: 24px;
}

.test-card-detail div {
  color: #759AF1;
}

.test-card-detail div span {
  color: #2D2D2D;
  font-weight: 400;
}

.test-card-copy {
  display: flex;
  justify-content: center;
  align-items: center;

}

.test-card-copy button {

  flex-basis: 100px;

  font-family: PoppinsBlack;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;

  color: rgba(0, 0, 0, .3)
}

.test-card-copy button:hover {
  color: #0F993E;
}
