.view-result-container {
  display: flex;
}
* {
    font-family: PoppinsLight;
}
.table {
  /* border: 1px solid red; */
  background-color: #fff;
  width: 827px;
}
.loading {
  margin-left: 240px;
}
.list-result {
  font-size: 24px;
  margin-left: 120px;
}
thead {
  background-color: white;
}
.question-col {
  width: 300px;
}
.score-col {
}
.time-col {
  width: 200px;
}
.table th {
  font-size: 16px;
  font-weight: 600;
}
.table td {
  font-size: 16px;
}