button,
input {
  border: 0;
  outline: none;
  padding: 4px 8px;
  font-size: 16px;
}

input {
  background: #fff;
  border-radius: 4px;
}

.button__add-answer {
  color: #759AF1;
  background-color: transparent;
}



input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

input[formControlName="title"] {
  width: 80%;
}

.button__done {
  background-color: #0F993E;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  padding: 4px 16px
}

.button__not-done {
  background-color: #c3c3c3;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  padding: 4px 16px
}
