<div style="width: 251px; height: 100%">
  <div class="nav-bar">
    <div class="setting-icon">
      <div style="width: 2em" (click)="changeStateShowLogOut()">
        <i style="font-size: 2em" class="fas fa-cog "></i>
      </div>
      <!-- <span (click)="changeStateShowLogOut()">Click here</span> -->
      <div *ngIf="showLogOutDropdown" class="dropdown-logout">
        <div class="option" (click)="logOut()">
          Log out
        </div>
      </div>

    </div>
    <div class="avatar-container">
      <img class="avatar" src="../../../../../assets/imgs/user.jpg">
      <!-- <img class="avatar"
        src="https://lh3.googleusercontent.com/proxy/kJSp2lMqhS1KugncXoJjKthRCfx2PgkBknH2Xu4CLq_vuc4aLfepKWeMbd5-SywygH5nrJgj0REM_zbStyEuZDVNZkULyvdQoKh1bs1l2UqOKfBfG9YS_tZJFre3giLe4IgldVzL1HW_P6X6"> -->
      <!-- <i class="far fa-user" style="font-size: 48px; border: 2px solid red; border-radius: 50%;"></i> -->
    </div>

    <div class="name-container">
      <div class="name">{{name}}</div>
    </div>
    <div style="border-bottom: 2px solid white; width: 100%; margin-bottom: 30px">

    </div>
    <div>
      <div class="route-container " [class.selected]="currentLink.indexOf('bank') != -1" (click)="goYour()">
        <i class="fas fa-university"></i> Yours
      </div>
      <div *ngIf="changeNavBar === 'true'" class="feature-drop">
        <div [class.levelSelected]="levelName === 'dashboard'" class="spi-feature">
          <div (click)="goToDashboard()">Dashboard</div>
        </div>
        <div [class.levelSelected]="levelName === 'tests'" class="spi-feature">
          <div (click)="goToViewTests()">Tests</div>
        </div>
        <div [class.levelSelected]="levelName === 'questions'" class="spi-feature">
          <div (click)="goToViewQuestions()">Questions</div>
        </div>
        <div class="spi-feature">
          <div *ngIf="!showConfigDropdown" (click)="changeConfigDropdown()">Config &nbsp;<i
              class="fas fa-caret-right"></i></div>
          <div *ngIf="showConfigDropdown" (click)="changeConfigDropdown()">Config &nbsp;<i
              class="fas fa-caret-down"></i></div>

          <div *ngIf="showConfigDropdown">
            <div class="feature" (click)="openModal()">Delete</div>
          </div>
        </div>
      </div>
      <div class="route-container" [class.selected]="currentLink.indexOf('result') != -1" (click)="goResult()">
        <i class="fas fa-trophy"></i> Results
      </div>
    </div>
    <app-modal-delete [bankId]="bankId" [showModalDelete]="showModalDelete" (emitCloseModal)="closeModal()" (emitGoBack)="goBack($event)"></app-modal-delete>
  </div>

</div>
