* {
  font-family: PoppinsLight;
}
.nav-bar {
  background-color: #032349;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;  
  color: white;
  width: 231px;
  height: 100vh;
  position: fixed;
}
.setting-icon {
  padding: 5px 10px;
  cursor: pointer;
}
.dropdown-logout {
  position: absolute;
  top: 15;
  left: 15;
  width: 180px;
  color: black;
  background-color: #fff;
  border: 1px solid gray;
}
.option {
  padding: 4px 16px;
}
.dropdown-logout div:hover {
  background-color: #5F45EA;
  color: white;
}
.avatar-container {
  text-align: center;
  padding-top: 60px;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name-container {
  position: relative;
  text-align: center;
}
.name {
  margin-top: 20px;
  margin-bottom: 80px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 44px;
  /* identical to box height */
  /* color: #2D2D2D; */
}
.route-container {
  cursor: pointer;
  /* margin-bottom: 20px; */
  padding: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
}
.selected {
  background-color: #5F45EA;
  color: white;
}