<div class="nav-bar">
  <div class="avatar-container">
    <!-- <img class="avatar" src="../../../../../assets/imgs/user.svg"> -->
    <img class="avatar" src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-9/139278675_1723657964463071_4754263555392824954_o.jpg?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_ohc=926NDxG-2S0AX9EyOFf&_nc_oc=AQnRStv8cxAR-jP4ZhSSo8WbvwuVHB-nE5Hw36vhC-sNe8yBCqWkjqHM_Tr2TW2ky38&_nc_ht=scontent.fdad2-1.fna&oh=a73f4d4713a44439bf37bab4a345562e&oe=602C5BE2">
  </div>
  <div class="name-container">
    <div class="name">{{name}}</div>
  </div>
  <div class="route-container" [class.selected]="currentLink == 'home'" (click)="goHome()">
    Home
  </div>
  <div class="route-container" [class.selected]="currentLink.indexOf('bank') != -1"(click)="goYour()">
    Yours
  </div>
  <div class="route-container">
    Notifications
  </div>
</div>
