<div class="view-bank-container">
  <app-nav-bar></app-nav-bar>
  <div class="view-bank component-container">
    <div class="path">
      Yours
    </div>
    <div style="display: flex">
      <app-search-bank (eventSearchResults)="receiveSearchBanks($event)"></app-search-bank>

      <button class="button__create-bank" (click)="goToCreate()">New bank</button>
    </div>


    <div *ngIf="banks.length === 0 && !isFetched" class="data-board" style="margin-top: 20px">
      <app-loader></app-loader>
    </div>
    <div *ngIf="banks.length === 0 && isFetched" class="data-board" style="margin-top: 20px">
      Empty
    </div>

    <div class="list-banks data-board" *ngIf="banks.length > 0">
      <div *ngFor="let bank of banks" class="bank">
        <div class="bank-title" (click)="goToBankDetail(bank._id)">
          {{bank.title}}
        </div>
        <div class="bank-static">
          <div class="test-number">
            {{bank.idTests.length| count:"test"}}
          </div>
          &nbsp;
          <div class="question-number">
            - {{bank.idQuestions.length| count:"question"}}
          </div>
        </div>

      </div>
      <app-pagination *ngIf="pages != 0" [goRoute]="'/bank/view'" [pageNumber]="pages"
        (changePageEvent)="getBanks($event)" class="pagination" [currentPage]="currentPage.toString()"></app-pagination>
    </div>

  </div>
</div>
