.do-test__title {

  font-family: PoppinsBlack;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #2D2D2D;
}

.do-test__title__number {
  font-size: 20px;
  font-weight: 400;
}

.container {
  padding-top: 50px;
}

.do-test__header {

  position: relative;
  /* margin-left: 120px; */
  display: flex;
}

.do-test__creator {
  position: absolute;
  right: 150px;
  top: 20px;
  display: flex;
  align-items: center;

  font-family: PoppinsLight;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  color: #929292;
}

.do-test__question-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 10px 70px -30px #C4C4C4;
  border-radius: 32px;
}

.do-test__question__title {
  font-family: PoppinsBlack;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;

  color: #2D2D2D;
}

.do-test__question__title span {
  font-weight: 600;
  text-decoration: underline;
}


.do-test__answer__title {
  font-family: PoppinsLight;
  /* font-style: normal; */
  /* font-weight: normal; */
  font-size: 24px;

  display: flex;
  align-items: center;
  flex-direction: row;

  color: #2D2D2D;
}

input[type=radio] {
  border: 0px;
  height: 24px;
  width: 24px;
  /* line-height: 36px; */
}

input[type=checkbox] {
  height: 24px;
  width: 24px;
}

.questions-container {
  position: fixed;
  right: 30px;
  text-align: center;
  width: 250px;
  height: 180px;
  overflow-y: scroll;
  /* white-space: nowrap; */
}
.questions-container .container {
  padding-top: 0;
  margin-top: 20px;
}
.question__number {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  background-color: white;
}

.questions-container {

  color: #000
}

.selected {
  background-color: blue;
  color: white;
  border: 0;
}
.button-submit-test {
  border: 0;
  width: 152px;
  height: 36px;
  border-radius: 16px;
  background-color: #5F45EA;
  float: right;
  margin: 50px 20px;
  color: white;
  outline: none;
}