.view-question-detail-container {
  display: flex;
}

form {
  font-family: PoppinsLight;
}

input {
  border: 0;
  outline: none;
  background: #fff;
}

button {
  border: 0;
  outline: none;
}

.deleted input {
  text-decoration: line-through
}

.deleted {
  text-decoration: line-through
}

.form-question {
  height: 100%;
  padding: 10px 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 70px -30px #C4C4C4;
  border-radius: 16px;
  position: relative;
  margin: 0 auto;
  margin-top: 10%;
}

.form-answers {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 20px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.question__title {
  font-family: PoppinsBlack;
  width: 100%;
  font-size: 20px;
  background: #fff;
  padding: 0px 0px;
}

.question__title input {
  width: 527px;
}

.question__title label {
  margin-right: 20px;
  text-decoration: underline;
}

label[for="level"] {
  font-size: 16px;
}

button[type="submit"] {
  position: absolute;
  right: 50px;
  bottom: 20px;

  padding: 10px 20px;
  border-radius: 32px;

  background-color: #0F993E;
  color: #fff;
}

.button__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  color: red;
  background-color: #fff;
  cursor: pointer;
}
